* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../public/img/bg.jpg');
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title {
  margin: 75px 0 75px 75px;
  font-size: 5rem;
  font-weight: bolder;
  text-shadow: 5px 5px 1px rgb(2, 40, 104);
  color: white;
}

.container {
  height: 100%;
  background-color: rgb(219, 235, 255);
  margin: 50px 150px;
  padding: 10px;
  padding-bottom: 50px;
}

.subtitle {
  padding: 30px 0 20px 30px;
  font-size: 2rem;
  text-shadow: 1px 1px 1px rgb(0, 93, 253);
  color: rgb(2, 4, 104);
}

.text {
  margin-left: 60px;
}

.link {
  margin-left: 60px;
  color: rgb(71, 82, 185);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.author {
  margin: 50px 0 0 30px;
  color: rgb(2, 4, 104);
}

.sub-author {
  margin-left: 30px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.subtopico {
  margin: 50px 0 20px 30px;
}

.container-social {
  display: flex;
}

.icon-facebook {
  width: 100px;
  height: 100px;
  margin: 0 20px;
  background-image: url('../public/img/icon-facebook.png');
  cursor: pointer;
}

.icon-github {
  width: 100px;
  height: 100px;
  margin: 0 20px;
  background-image: url('../public/img/icon-github.png');
  cursor: pointer;
}

.icon-linkedin {
  width: 100px;
  height: 100px;
  margin: 0 20px;
  background-image: url('../public/img/icon-linkedin.png');
  cursor: pointer;
}

.items {
  margin-left: 60px;
  margin-bottom: 10px;
  list-style: none;
}
